<div class="container">
  <div class="text-aling-center ">
    <img  src="../assets/img/ico-logo.png" class="rounded mx-auto d-block" alt="...">
    <h1 class="titulo"><strong>Frontend Test</strong></h1>
  </div>
  <form (submit)="Agregar()" class="example-form">
    <input [(ngModel)]="descripcion" class="tareanueva" type="text" name="tarea" placeholder="Agregar nueva tarea" required ng-reflect-requered>
    <button (click)="Agregar()" class="btn btn-outline-warning my-2 agregar" type="button">
      <span class="badge badge-warning text-uppercase">Agregar</span>
    </button>
  </form>
  <div class="bar">
    <strong>ToDo list by Iron Bit</strong>
    <img (click)="borrartodo()" src="../assets/img/recycle-bin.svg" class="borratodo" alt="...">
  </div>
  <div class="partelista">
    <div *ngIf="!tareas">
      <strong > No hay ToDo's, tómate un café! </strong>
    </div>
    <ul class="text-left">
      <li  *ngFor="let tarea of tareas">
        {{tarea.descripcion}}
        <img (click)="borraritem(tarea.descripcion)" class="text-right" class="botoneliminar" src="../assets/img/remove.svg" alt="...">
      </li>
    </ul>
  </div>
</div>



<router-outlet></router-outlet>
